.footer {
  
  // .footer__body
  &__body {
    @media (min-width: 992px) {
      display: flex;
      margin: 0px -15px;
    }
  }
  // .footer__column
  &__column {
    @media (min-width: 992px) {
      flex: 0 1 50%;
    }
    margin: 0px 0px 25px 0px;
    &:first-child {
      display: flex;
      flex-direction: column;
    }
  }
  // .footer__widgets
  &__widgets {
    display: flex;
  }
  // .footer__botton
  &__botton {
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #dadada;
    text-align: center;
    @media (min-width: 560px) {
      display: flex;
      text-align: left;
    }
  }
  // .footer__copy
  &__copy {
    flex: 1 1 auto;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    @media (min-width: 560px) {
      margin: 0px 0px 10px 0px;
    }
  }
  
  // .footer__payments
  &__payments {
    img{
      max-width: 100%;
    }
    @media (max-width: 560px){
      text-align: center;
    }
  }

}
.block-footer {
  padding: 0px 0px 20px 0px;
  text-align: center;
  @media (min-width: 560px) {
    text-align: left;
    display: flex;
    flex: 1 1 auto;
  }

  // .block-footer__column
  &__column {
    &:first-child {
      flex: 0 0 165px;
    }
    &:last-child {
      flex: 1 1 auto;
      @media (min-width: 560px) {
        padding: 0px 0px 0px 45px;
      }
    }
  }
  // .block-footer__phones
  &__phones {
    padding: 0px 0px 0px 15px;
    @media (min-width: 560px) {
      padding: 0px 0px 0px 35px;
      background: url("../img/icon/phone.png") left no-repeat;
    }
    p {
      margin: 0px 0px 5px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
    @media (max-width: 560px) {
      font-size: 18px;
      margin: 0px 0px 30px 0px;
    }
  }
  // .block-footer__phone
  &__phone {
    color: #333;
    font-weight: 900;
  }
}
.logo-footer {
  display: inline-block;
  margin: 0px 0px 30px 0px;
}
.delivery-footer {
  @media (max-width: 560px) {
    text-align: center;
  }
  // .delivery-footer__title
  &__title {
    color: #999;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 0px 0px 10px 0px;
  }
  // .delivery-footer__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    align-items: center;
    @media (max-width: 560px) {
      justify-content: center;
    }
  }
  // .delivery-footer__item
  &__item {
    padding: 15px;
  }
}
.widgets-footer {
  // .widgets-footer__column
  display: flex;
  margin: 0px -15px;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
  @media (max-width: 560px) {
    display: block;
    text-align: center;
  }
  &__column {
    padding: 0 15px;
    img {
      max-width: 100%;
    }
  }
}
.social-footer {
  // .social-footer__item
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    margin: 0px 0px 0px 10px;
  }
  @media (min-width: 560px) {
    &__item{
      margin: 0px 5px;
    }
  }
}
