
.swiper-wrapper {
  width: 800px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.image-swiper {
  padding: 50px 0 70px 0px;
}

.swiper-slide img {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.image-swiper .swiper-button-prev::after,
.image-swiper .swiper-button-next::after {
  color: #fff;
  font-size: 80px;
  min-height: 100%;
}

.image-swiper .swiper-pagination {
  bottom: 0;
}

.image-swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
}

.image-swiper .swiper-pagination-fraction {
  font-size: 20px;
  color: #fff;
}

.image-swiper .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #fff;
}