.rub::after {
  content: "₽";
}
.input {
  border-radius: 0 !important;
  border: 1px solid #e5e5e5;
  // width: 100%;
  height: 30px;
  display: block;
  // &._focus {
  // }
  // &._error {
  // }
}
input {
  border: none;
  width: 100%;
  height: 48px;
}

._arrow {
  background: url("../img/icon/sl_arrow-right.svg") 0 0 no-repeat;
  display: block;
  width: 40px;
  height: 28px;
  cursor: pointer;
  transform: rotate(180deg);
  @media (min-width: 992px) {
    &:hover {
      background: url("../img/icon/sl_arrow-left.svg") 0 0 no-repeat;
    }
  }
}
._arrow_prev {
  @media (min-width: 992px) {
    &:hover {
      transform: rotate(0deg);
    }
  }
}
._arrow_next {
  transform: rotate(0deg);
  @media (min-width: 992px) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}
.checkbox {
  position: relative;
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text::before {
      border: 2px solid #809aaf;
    }
    &:checked + .checkbox__text::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 5px;
      width: 9px;
      height: 9px;
      border: 2px solid #53b5de;
      background-color: #53b5de;
    }
  }
  // .checkbox__text
  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: calc(15 / 12);
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 12px;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 2px solid #dadada;
    }
    span {
      margin: 0px 0px 0px 35px;
    }
  }
}

/*=============================================================================================================*/
.custom-select {
  position: relative;
  font-family: Arial;
  width: 260px;

  select {
    display: none; /*Скрыть оригинальный элемент выбора:*/
  }
}
.select-selected {
  background-color: #fff;
}
/*Стиль стрелки внутри элемента выбора:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #666 transparent transparent transparent;
}
/* Укажите стрелку вверх, когда поле выбора открыта (Active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #666 transparent;
  top: 7px;
}
/* СТИЛЬЭЛЕМЕНТОВ (ОПЦИИ), ВКЛЮЧАЯ ВЫБРАННЫЙ ЭЛЕМЕНТ: */
.select-items div,
.select-selected {
  color: #666;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}
.select-selected {
  color: #0097ac;
}
/* Стиль элементов (опции): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Скрыть Элементы, Когда Поле выбрать закрыту: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*============================
работа с +- для товара*/
.quantity {
  width: 120px;
  height: 33px;
  display: flex;
  // .quantity__button
  &__button {
    position: relative;
    cursor: pointer;
    line-height: 24px;
    width: 24px;
    margin: 0 6px;
    height: 24px;
    user-select: none;
    background: url("../img/icon/li-arrow-grey.png") 0 0 / 100% no-repeat;
    @media (min-width: 992px){
      &:hover{
        background: url("../img/icon/sl_arrow-left.svg") 0 0 / 100% no-repeat;

      }
    }
    &-plus {
      top: -3px;
      transform: rotate(180deg);
    }
  }
  input {
    appearance: none;
    text-align: center;
    width: 50px;
    height: 33px;
    font-size: 16px;
    color: #999999;
    line-height: 24px;
    border: 2px solid #e5e5e5;
  }
  // .body-product__actions
  // &__actions {
  // }
}
