.works_main-title {
  margin: 0 0 45px 0;
}
@media (max-width: 650px) {
  .works_main-title {
    margin: 0 0 20px 0;
  }
}

.works_items {
  padding: 0 0 60px 0;
}
@media (max-width: 650px) {
  .works_items {
    padding: 0 0 30px 0;
  }
}

.works {
  padding-bottom: 60px;
}
@media (max-width: 650px) {
  .works {
    display: flex;
    overflow: auto;
  }
}
.works_item {
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #E0E0E0;
}
.works_item:last-child {
  margin-bottom: 0;
}
@media (min-width: 650px) {
  .works_item {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 650px) {
  .works_item {
    flex: 0 0 90%;
    margin: 0 0 30px 0;
  }
}
.works_image {
  display: block;
  flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .works_image {
    padding: 0 0 50% 0;
    margin: 0 0 17px 0;
  }
}
.works_body {
  flex: 1 1 auto;
  margin: 0 0 0 18px;
}
@media (max-width: 650px) {
  .works_body {
    margin: 0;
  }
}
.works_title {
  display: inline-block;
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 146.6666666667%;
  margin: 0 0 15px 0;
  transition: color 0.3s ease 0s;
}
.works_title:hover {
  color: #ff6464;
}
@media (max-width: 650px) {
  .works_title {
    font-size: 24px;
  }
}
.works_info {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.works_year {
  background-color: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.works_category {
  color: #8695a4;
  font-size: 20px;
  margin: 0 0 0 25px;
}