.btn{
  display: inline-flex;
  padding: 0 35px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 39px;
  background-color: #f68038;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    &:hover{
      background-color:#d46c2c;
    }
  }
  &._fw{
    width: 100%;
  }
}
.checkbox {
  position: relative;
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text::before{
      background:#fff url("../img/icon/check.svg") center no-repeat;
    }
  }
  &__text {
    display: inline-block;
    align-items: center;
    position: relative;
    font-size: 16px;
    // color:#fff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
    &::before {
      content:"";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background:#fff;
      border: 1px solid #a7a9ac;
    }
  } 
}
.input{
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 20px;
  // &._focus{

  // } 
  // &._error{

  // }
}
