// @import url(https://fonts.googleapis.com/css?family=З:300,regular,500,700,900&display=swap&subset=cyrillic-text);
@import url(https://fonts.googleapis.com/css?family=Play:regular,700);

@font-face {
  font-family: "UniSans"; 
  src: url("../fonts/UniSans-Trial-Regular.woff") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 