.swiper {
  margin-bottom: calc(70px + (0 - 20) * ((100vw - 320px) / (1180 -320)));
}
.mainSlider {
  &__slide {
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__dotts {
    cursor: pointer;
    position: relative;
    display: flex;
    z-index: 2;
    margin: -27.5px 0px 0px 0px;
    justify-content: center;
    counter-reset: item;
    .swiper-pagination-bullet {
      margin: 0 23px;

      opacity: 9;
      color: none;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid#fff;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        opacity: 0;
        transition: all 0.3s ease 0s;
        color: #fffefe;
        position: absolute;
        font-size: 16px;
        font-weight: 900;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: #f68038;
        align-items: center;
        counter-increment: item;
        content: counter(item);
      }
    }
    .swiper-pagination-bullet-active {
      &::after {
        opacity: 1;
      }
    }
  }
  .content-mainSlider {
    padding: 20px 35px 60px 35px;
    @media (max-width: 640px) {
      padding: 20px 35px 60px 15px;
    }
    &__title {
      color: #333;
      font-size: calc(28px + (48 - 20) * ((100vw - 320px) / (1180 -320)));
      font-weight: 900;
      text-transform: uppercase;
      line-height: 43 / 48 * 100%;
      margin: 0px 0px 50px 0px;

      span {
        display: block;
        color: rgb(246, 128, 56);
      }
    }

    // &__text {
    // }

    &__footer {
      padding: 15px 0px 0px 0px;
      text-align: center;
    }

    &__price {
      color: #fff;
      font-size: 36px;
      font-weight: 900;
      line-height: 24 / 36 * 100%;
      margin: 0px 0px 24px 0px;
      &::after {
        font-size: 30px;
        margin: 0px 0px 0px 10px;
      }
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }

    &__button {
      height: 33px;
      border: 3px solid #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      padding: 0 25px;
      span {
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        padding: 0px 30px 0px 0px;
        background: url("../img/icon/btn_arrow.png") right no-repeat;
      }
    }
  }
  .text-mainSlider {
    color: #333;
    font-size: 14px;
    font-weight: 900;
    line-height: 24 / 14 * 100%;
    text-transform: uppercase;

    &__text-1 {
      font-size: 18px;
      color: #f68038;
    }

    &__text-2 {
      color: #fff;
      line-height: 1;
      padding: 5px 10px;
      display: inline-block;
      background-color: #92918e;
    }

    &__text-3 {
      color: #979797;
    }
  }
}
// .products-slider__header
.products-slider {
  &__header {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  // .products-slider__title
  &__title {
    flex: 1 1 auto;
    color: #dadada;
    font-size: calc(30px + (30 - 20) * ((100vw - 320px) / (1200 -320)));
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  // .products-slider__control
  &__control {
    display: flex;
    align-items: center;
  }
  // .products-slider__info
  &__info {
    padding: 0 20px;
    color: #999;
    width: 50px;
    font-weight: 500;
    .swiper-pagination-current {
      color: #333;
      font-size: 30px;
      font-weight: 900;
    }
    // .swiper-pagination-total {
    // }
  }
}
.brands-slider__body {
  display: flex;
}
/*====brands-slider=====================================================================================================*/
.brands-slider {
  border-top: 5px dashed #dadada;
  border-bottom: 5px dashed #dadada;
  padding: 25px 0;
  // .brands-slider__container
  &__container {
    position: relative;
  }
  .swiper-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
  }
  // .brands-slider__body
  &__body {
    padding: 0 40px;

    .swiper {
      margin: 0;
    }
    img {
      filter: grayscale(100%);
      max-width: 100%;
      transition: all 0.3s ease 0s;
      &:hover {
        filter: none;
      }
    }
  }
  // .brands-slider__slide
  &__slide {
    text-align: center;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .brands-slider__arrows
  &__arrows {
  }
  // .brands-slider__arrow
  &__arrow {
    position: absolute;
    top: 30%;
    transform: translate(0px, -50%);

    // .brands-slider__arrow_prev
    &_prev {
      left: 0;
    }
    // .brands-slider__arrow_next
    &_next {
      right: 0;
    }
  }
}

/*===text-block==================================================================================================*/
.text-block {
  // .text-block__container

  &__container {
  }
  // .text-block__body
  &__body {
    padding: 45px 45px 0;
    background: url("../img/bg_kompaniya.png");
  }
  // .text-block__ttitle
  &__ttitle {
    font-size: 30px;
    letter-spacing: 1px;
    color: #22b7ca;
    text-transform: uppercase;
    margin: 0px 0px 28px 0px;
  }

  // .text-block__row
  &__row {
    display: flex;
    margin: 0px -30px;
  }
  // .text-block__column
  &__column {
    padding: 0px 30px 60px;
    flex: 0 1 50%;
    color: #ffffff;
    position: relative;
    p {
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 20px;
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }
  // .text-block__label
  &__label {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0px 0px 20px 0px;
  }
  // .text-block__list
  &__list {
    li {
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 20px;
      margin: 0px 0px 5px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
      &::before {
        content:'';
        display: inline-block;
        width: 11px;
        height: 11px;
        margin: 0px 17px 0px 7px;
        background:url("../img/icon/li-arrow.png") left 1px no-repeat;   
      }
    }
  }
  // .text-block__image
  &__image {
    position: absolute;
    right: -130px;
    bottom: -255px;
  }

}
