// @import "_variables";

// .popup-main {
//   color: #fff;
//   background-color: #383838;
// }
// .popup__wrapper {
//   overflow: hidden;
//   min-height: 100%;
// }
// .header {
//   // .header__lock-padding
//   &__lock-padding {
//     position: fixed;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background-color: #000;
//     margin: 0px 0px 50px 0px;
//   }
//   // .header__container
//   &__container {
//     display: flex;
//     height: 80px;
//     align-items: center;
//     justify-content: space-between;
//   }
//   // .header__logo
//   &__logo {
//     width: 50px;
//     height: 50px;
//     display: block;

//     border-radius: 50%;
//     background-color: #fff;
//   }
//   // .header__phone
//   &__phone {
//     display: block;
//     color: #fff;
//   }
// }

// .content {
//   padding: 130px 0px 0px 0px;

//   // // .content__сontainer
//   // &__сontainer {
//   // }
//   // .content__section
//   &__section {
//     margin: 0px 0px 50px 0px;

//     // .content__section_row

//     &_row {
//       margin: 0px 0px 50px 0px;
//       @media (min-width: 992px) {
//         display: flex;
//       }
//     }
//   }
//   // .content__body
//   &__body {
//     flex: 0 1 50%;
//     padding: 0 20px;
//   }
//   // .content__title
//   &__title {
//     font-size: 40px;
//     margin: 0px 0px 20px 0px;
//   }
//   // .content__text
//   &__text {
//     a {
//       color: rgb(209, 16, 16);
//     }
//   }
//   // .content_image
//   &_image {
//     display: block;
//     padding: 0 20px;
//     flex: 0 1 50%;
//     img {
//       max-width: 100%;
//     }
//   }
// }


// .popup {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.452);
//   top: 0;
//   left: 0;
//   opacity: 0;
//   &__body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 30px 10px;
//   }
//   // .popup__content
//   &__content {
//     background-color: #fff;
//     color: #000;
//     max-width: 800px;
//     padding: 30px;
//     position: relative;
//     &__image{
//       padding: 0;
//     }
//   }
  
//   // .popup__clouse
//   &__clouse {
//     position: absolute;
//     right: 10px;
//     top: 10px;
//     font-size: 20px;
//     color: rgba(248, 4, 4, 0.877);
//     cursor: pointer;
//     transition: all 0.3s ease 0s;
//     &:hover{
//       transform: rotate(180deg);
//     }
//   }
//   // .popup__title
//   &__title {
//     font-size: 40px;
//     margin: 0px 0px 16px 0px;
//   }

//   // .popup__text

//   // &__text {
//   // }
// }


// .popup__area{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
// .popup { 
//   visibility: hidden;
//   overflow-y:auto;
//   overflow-x:hidden;
//   transition: all 0.8s ease 0s;
// }
// .popup__content {
//   background-color: #fff;
//   color: #000;
//   max-width: 500px;
//   padding: 30px;
//   position: relative;
//   transition: all 0.8s ease 0s;
//   opacity: 0;
//   // transform: translate(0, -180%);
//   // transform: perspective(600px) translate(0, -180%) rotateX(45deg);
// }


// // открытие popup с помощу css
// .popup:target {
//   opacity: 1;
//   visibility: visible;
// }
// .popup:target .popup__content{
//   // transform: translate(0, 30%);
//   // transform: perspective(600px) translate(0, 0%) rotateX(0deg);
//   opacity: 1;
// }








// popup js
.popupsl {
  margin: 0;
  background: tomato;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow:hidden;
}

button {
  transition: 300ms all;
  opacity: 1;
}

.btn-hide {
  transform: translateY(200px);
  opacity: 0;
}

.darken {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -666;
  pointer-events: none;
  background: rgba(0,0,0,0);
  transition: 300ms all;
}

.darken-show {
  z-index: 11;
  pointer-events: all;
  background: rgba(0,0,0,0.4);
}

.modal {
  position: absolute;
  box-sizing: border-box;
  padding: 2em;
  background: white;
  transform: scale(0);
  z-index: -777;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all;
}

.modal-show {
  z-index: 77;
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}