@import "fonts";
@import "home";
@import "header";
// @import "swiper";
// @import "icons";
// @import "mixin";
@import "popup";
@import "./form";
@import "./ui";
@import "./footer";
@import "./_variables";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color:#000;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}
ul,
li {
  list-style: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.__container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
._ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
  }
}
button {
  background-color: none;
  border: none;
}
main {
  min-height: 100%;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}
/*======Основной блок==================================================================================================*/
.page {
  padding: 160px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: 768px) {
    padding: 133px 0px 0px 0px;
  }
  @media (max-width: 640px) {
    padding: 95px 0px 0px 0px;
  }
  // .page__container
  &__container {
    @media (min-width: 992px) {
      display: flex;
    }
  }
  // .page__side
  &__side {
    position: relative;
    z-index: 5;
    flex: 0 0 260px;
    @media (max-width: 992px) {
      margin: 0px 0px 30px 0px;
    }
  }
  &__menu {
    margin: 0px 0px 40px 0px;
  }
  // .page__content
  &__content {
    @media (min-width: 992px) {
      flex: 1 1 auto;
      // position: relative;
      min-width: 0;
      padding: 0px 0px 0px 30px;
    }
  }
  &__search {
    position: relative;
    z-index: 2;
    margin: 0px 0px 22px 0px;
  }
  &__news-side {
    margin: 0px 0px 75px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
  // &__reviews-side {
  // }

  // .page__products
  // &__products {
  // }
}
/*=============================================================================================================*/
.items-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  // position: relative;
}
/*====item-product===============================================================================================*/
.item-product {
  padding: 15px;
  position: relative;
  // overflow: hidden;
  height: 100%;
  border: 1px solid#f5f5f5;
  display: flex;
  flex-direction: column;
  &__labels {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  &__body {
    padding: 0 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction:column;
  }
  &__label {
    height: 21px;
    margin: 0px 0px 5px 0px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 900;
    background-color: #fd8424;
  }
  &__image {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    img {
      max-width: 100%;
      max-height: 240px;
    }
  }
  &__title {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    flex: 1 1 auto;
    transition: all 0.3s ease 0s;
    span{
      display: block;
      font-weight: 900;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .item-product__footer
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease 0s;
  }
  // .item-product__old-price
  &__old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    &::after {
      font-size: 14px;
    }
  }
  // .item-product__add
  &__add {
    width: 40px;
    height: 40px;
    background: url("../img/icon/cart_gray.png") top no-repeat;
  }
  // .item-product__price
  &__price {
    color: #333;
    font-size: 24px;
    font-weight: 900;
    &::after {
      font-size: 18px;
    }
  }

  &__hover{
    position: absolute;
    width: 82%;
    height: 91%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease 0s;
    transform: translate(-105%, 0px);
  }
}
// .item-products__column
.item-products__column{
  flex: 0 1 30%;
  position: relative;
  padding: 0 15px 35px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;

  &:hover{
    .item-product__hover{
      transform: translate(0px, 0px)
    }
    .item-product__title,
    .item-product__footer{
      opacity: 0;
    }
  }

}
/*=====menu-page================================================================================================*/
.menu-page {
  background: url("../img/bj_menu.png") top repeat;
  position: relative;
  // z-index: 2;
  // .menu-page__header
  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  // .menu-page__title
  &__title {
    flex: 1 1 auto;
    color: #fff;
    font-family: "UniSans";
    line-height: 35 / 30 * 100%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.75px;
  }
  // .menu-page__lines
  &__lines {
    position: relative;
    height: 16px;
  }

  // .menu-page__burger
  &__burger {
    background-color: #068292;
    width: 36px;
    padding: 10px 6px;
    flex: 0 1 50px;
    position: relative;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &._active {
      span {
        transform: scale(0) translate(0, -50%);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          top: calc(50% - 1px);
        }
      }
    }
  }
  // .menu-page__body
  &__body {
    display: none;

    &._active {
      display: block;
    }
  }
  // .menu-page__parent
  &__parent {
    .menu-page__link {
      &::after {
        transition: all 0.3s ease 0s;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        width: 14px;
        height: 14px;
        transform: translate(0px, -50%);
        background: url("../img/menu_arrow.png") 0 0 no-repeat;
        @media (max-width: 992px) {
          transform: translate(0px, -50%) rotate(90deg);
        }
      }
    }
    &:hover {
      &._active {
        .menu-page__submenu {
          pointer-events: all;
        }
        .submenu-page__item {
          display: block;
          @media (min-width: 992px) {
            z-index: 2;
            transform: translate(0px, 0px);
          }
        }
        .menu-page__link {
          z-index: 1;
          background-color: #098494;
          @media (max-width: 992px) {
            &::after {
              transform: translate(0px, -50%) rotate(-90deg);
            }
          }
        }
      }
    }
  }
  // .menu-page__list
  &__list {
    > li {
      border-bottom: 2px solid #1aa7b9;
    }
  }
  // .menu-page__link
  &__link {
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px 20px;
    position: relative;
    @media (min-width: 992px) {
      &:hover {
        background-color: #098494;
      }
    }
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
  // .menu-page__submenu
  &__submenu {
    @media (min-width: 992px) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
    }
  }
}
/*====submenu-page================================================================================================*/
.submenu-page {
  @media (max-width: 992px) {
    background-color: #fff;
  }
  // .submenu-page__item
  &__item {
    display: none;
    @media (min-width: 992px) {
      display: block;
      width: 280px;
      border: 2px solid #098494;
      background-color: #fff;
      position: absolute;
      width: 99%;
      height: 100%;
      top: 0;
      left: 0%;
      transition: all 0.3s ease 0s;
      transform: translate(-100%, 0);
    }
  }
  // .submenu-page__menu
  &__menu {
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
  }
  // .submenu-page__link
  &__link {
    display: block;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding: 10px 40px;
    @media (min-width: 992px) {
      &:hover {
        background-color: #17c7d3;
        color: #fff;
      }
    }
    @media (max-width: 992px) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  // .submenu-page__product
  &__product {
    padding: 15px;
    @media (max-width: 992px) {
      display: none;
    }
    .item-product{
      border: 0;
    }
  }
}
/*=hover-item-product==============================================================================================*/
.hover-item-product {
  border: 5px solid #f68038;
  background-color: rgba(0, 0, 0, 0.84);
  padding: 15px;
  display: flex;
  flex-direction: column;
  color:#fff;
  // .hover-item-product__title
  &__title {
    font-size: 16px;
    color: #c2c2c2;
    font-weight: 300;
    margin: 0px 0px 25px 0px;
    span{
      display: block;
      color: #fff;
      font-weight: 900;
      margin: 0px 0px 5px 0px;
    }
  }
  // .hover-item-product__options
  // &__options {
  // }
  // .hover-item-product__body
  &__body {
    flex: 1 1 auto;
  }
  // .hover-item-product__cart
  &__cart {
    background:url("../img/icon/cart-orange.png") 0 0 no-repeat;
    width: 57px;
    height: 57px;
    margin: 0 auto 15px auto;
    display: block;
  }
  // .hover-item-product__footer
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  // .hover-item-product__old-price

  &__old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    &::after {
      font-size: 14px;
    }
  }
  // .hover-item-product__stock
  &__stock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    color:#f68038;
    font-weight: 500;
    height: 21px;
    border-radius:15px;
    background-color: #fff;
  }
  // .hover-item-product__price
  &__price {
    font-size: 24px;
    font-weight: 900;
    &::after {
      font-size: 18px;
    }
  }
}
/*==options-item-product============================================================================================*/
.options-item-product {
  // .options-item-product__item
  &__item {
    margin: 0px 0px 10px 0px;
  }
  // .options-item-product__label
  &__label {
    margin: 0px 0px 3px 0px;
  }
  // .options-item-product__value
  &__value {
    color: #f68038;
    font-weight: 900;
  }
}
/*===search page=================================================================================================*/
.search-page {
  display: flex;
  position: relative;
  background-color: #fff;
  z-index: 2;
  &__select {
    cursor: pointer;
    padding: 0 14px;
    background-color: #f3f3f3;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__title {
    color: #666;
    display: flex;
    padding: 14px 0;
    align-items: center;
    font-weight: 300;
    span {
      margin: 0 13px;
      border-bottom: 1px dashed;
      &:last-child {
        display: none;
      }
    }
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/icon/serch.png") 0 0 no-repeat;
    }
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      width: 10px;
      height: 10px;
      background: url("../img/icon/serch_arrow.png") 0 0 no-repeat;
    }
    &._categories {
      span {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
    &._active {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
  &__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  &__input {
    border: 2px solid #f2f2f2;
    flex: 1 1 auto;
    .input {
      height: 40px;
      border: none;
    }
  }
}
.search-page__categories {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  transform: translate(0, -100%);
}
.search-page__categories.current {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0%);
}

/*===categories-search===========================================================================================*/
.categories-search {
  border: 1px solid #f3f3f3;
  background-color: #fff;
  &::before {
    content: "";
    background-color: #f68038;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__row {
    @media (min-width: 860px) {
      display: flex;
    }
    @media (max-width: 992px) {
      padding: 20px 0;
    }
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 27px 40px;
    border-right: 1px solid #f3f3f3;
    &:last-child {
      border: 0;
    }
    @media (max-width: 1180px) {
      padding: 27px 20px;
    }
    @media (max-width: 768px) {
      padding: 0 20px;
      &:last-child {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  &__list {
    li {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }
  &__checkbox {
    .checkbox__input {
      &:checked + .checkbox__text {
        color: #f68038;
      }
    }
    .checkbox__text {
      color: #999;
      &::before {
        display: none;
      }
    }
  }
}
.side-title {
  color: #dadada;
  font-size: 30px;
  font-family: "UniSans";
  text-transform: uppercase;
  letter-spacing: 0.75px;
  @media (min-width: 992px) {
    &:hover {
      color: rgb(26, 185, 206);
    }
  }
}

.news-side {
  &__title {
    display: inline-block;
    margin: 0px 0px 25px/30px * 1em 0px;
  }
  &__item {
    margin: 0px 0px 45px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
  &__label {
    color: #333;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 0px 20px/12px * 1em 0px;
    @media (min-width: 992px) {
      &:hover {
        color: #fd8322;
      }
    }
  }
  &__body {
    display: flex;
  }

  &__data {
    flex: 0 0 30px;
    text-align: center;
    color: #d8d8d8;
    font-size: 18px;
    font-weight: 300;
    span {
      font-size: 24px;
      font-weight: 900;
      display: block;
    }
  }
  &__text {
    color:#666;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding: 0px 0px 0px 15px;
  }
}

.reviews-side {
  // .reviews-side__title
  &__title {
    display: inline-block;
    margin: 0px 0px 20px/30px * 1em 0px;
  }
  // .reviews-side__item
  &__item {
    margin: 0px 0px 45px 0px;
    display: block;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
    @media (min-width: 992px){
      &:hover{
        .reviews-side__user,
        .reviews-side__data {
          color: #1ab9ce;
        }
        .reviews-side__body{
          background-color: #1ab9ce;
          color: #fff;
          &::before {
            color: #64deee;   
          }
        }
      }
    }
  }
  // .reviews-side__header
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
  }
  // .reviews-side__user
  &__user {
    color: #333;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
  }

  // .reviews-side__data
  &__data {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
  }
  // .reviews-side__body
  &__body {
    position: relative;
    padding: 14px 8px 14px 30px;
    &::before {
      content:'"';
      position: absolute;
      color:#dadada;
      font-size: 48px;
      font-weight: 600;
      left: 5px;
      top: 12px;
      line-height: 1;
    }
    color: #666;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
}

